<div ng_include='"components/navbar/navbar.html"'> </div>
<div class="container ng-scope" style="margin-top :50px;">
  <div class = "row avenir-db">
    <div class="col-sm-8">
      <div class="limit-overflow">
        <div  ng-repeat="article in articles">
          <div ng-click="article_click($index)"  ng-if="article['Article'].CategoryId == currentCategoryID" class = "article"  >
            <h3 class ="title" >{{article['Article'].Title}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="limit-overflow">
        <table class ="table">
          <tbody>
            <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Image</th>
            <th>Body</th>
            <th>Date Published</th>
            <th>CategoryID</th>
            </tr>
            <tr ng-repeat="article in articles">
              
              <td>{{article['Article'].Id}}</td>
              <td>{{article['Article'].Title}}</td>
              <td>{{article['Article'].Image}}</td>
              <td>{{article['Article'].Body}}</td>
              <td>{{article['Article'].DatePublished}}</td>
              <td>{{article['Article'].CategoryId}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="limit-overflow" style="margin-top:15px;">
        <table class ="table">
          <tbody>
            <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Image</th>
            <th>Body</th>
            <th>Date Published</th>
            <th>CategoryID</th>
            </tr>
            <tr ng-repeat="article in articles">
              
              <td>{{article['Article'].Id}}</td>
              <td>{{article['Article'].Title}}</td>
              <td>{{article['Article'].Image}}</td>
              <td>{{article['Article'].Body}}</td>
              <td>{{article['Article'].DatePublished}}</td>
              <td>{{article['Article'].CategoryId}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>